<?xml version="1.0"?>
<config>
  <modules>
    <Dotpay_Dotpay>
      <version>1.0.5</version>
    </Dotpay_Dotpay>
  </modules>
  <global>
    <blocks>
      <dotpay_dotpay>
        <class>Dotpay_Dotpay_Block</class>
      </dotpay_dotpay>
    </blocks>
    <models>
      <dotpay>
        <class>Dotpay_Dotpay_Model</class>
      </dotpay>
    </models>
    <helpers>
      <dotpay>
        <class>Dotpay_Dotpay_Helper</class>
      </dotpay>
    </helpers>
    <resources>
      <dotpay_setup>
        <setup>
          <module>Dotpay_Dotpay</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </dotpay_setup>
      <dotpay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </dotpay_write>
      <dotpay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </dotpay_read>
    </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <dotpay>
          <file>dotpay_dotpay.xml</file>
        </dotpay>
      </updates>
    </layout>
    <routers>
      <dotpay>
        <use>standard</use>
        <args>
          <module>Dotpay_Dotpay</module>
          <frontName>dotpay</frontName>
        </args>
      </dotpay>
    </routers>
    <translate>
      <modules>
        <Dotpay_Dotpay>
          <files>
            <default>Dotpay_Dotpay.csv</default>
          </files>
        </Dotpay_Dotpay>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Dotpay_Dotpay>
          <files>
            <default>Dotpay_Dotpay.csv</default>
          </files>
        </Dotpay_Dotpay>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <payment>
      <dotpay>
        <active>0</active>
        <model>dotpay/paymentMethod</model>
	<test>1</test>
	<invoice>1</invoice>
        <title>Dotpay</title>
	<sort_order>0</sort_order>
        <redirect_url>https://ssl.dotpay.pl/t2/</redirect_url>
        <redirect_url_test>https://ssl.dotpay.pl/test_payment/</redirect_url_test>
        <redirect_url_legacy>https://ssl.dotpay.pl/</redirect_url_legacy>
      </dotpay>
    </payment>
  </default>
</config>
