<?xml version="1.0"?>
<config>
  <modules>
    <Dotpay_Dotpay>
      <version>0.0.3</version>
    </Dotpay_Dotpay>
  </modules>
  <global>
    <blocks>
      <dotpay>
        <class>Dotpay_Dotpay_Block</class>
      </dotpay>
    </blocks>
    <models>
      <dotpay>
        <class>Dotpay_Dotpay_Model</class>
      </dotpay>
    </models>
    <helpers>
      <dotpay>
        <class>Dotpay_Dotpay_Helper</class>
      </dotpay>
    </helpers>
    <resources>
      <dotpay_setup>
        <setup>
          <module>Dotpay_Dotpay</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </dotpay_setup>
      <dotpay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </dotpay_write>
      <dotpay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </dotpay_read>
    </resources>
  </global>
  <frontend>
    <routers>
      <dotpay>
        <use>standard</use>
        <args>
          <module>Dotpay_Dotpay</module>
          <frontName>dotpay</frontName>
        </args>
      </dotpay>
    </routers>
    <translate>
      <modules>
        <Dotpay_Dotpay>
          <files>
            <default>Dotpay_Dotpay.csv</default>
          </files>
        </Dotpay_Dotpay>
      </modules>
    </translate>
  </frontend>
  <default>
    <payment>
      <dotpay>
        <active>0</active>
        <model>dotpay/paymentMethod</model>
        <title>Dotpay</title>
        <redirect_url>https://ssl.dotpay.pl/</redirect_url>
        <redirect_url_test>https://ssl.dotpay.pl/test_payment/</redirect_url_test>
        <authorized_ips>
          <ip1>217.17.41.5</ip1>
          <ip2>195.150.9.37</ip2>
        </authorized_ips>
      </dotpay>
    </payment>
  </default>
</config>